# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Project specific
.gemini/
scratch/
tools/audit.py
tools/unused_css.py

node20/
node20.zip

# Dependencies
node_modules/
package-lock.json
